/*! ABOUT ABOUT ABOUT*/
.about {
  padding: 0 0 94px 0;
}

.about__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__items {
  position: relative;
}

.about__items:nth-child(-n + 2) {
  margin-right: 30px;
}

.about__desc {
  position: absolute;
  bottom: 0;
  left: 0;

  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}
