.client__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-color;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: calc(42 / 36);

    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;

  @media screen and (min-width: $desktop) {
    width: 1170px;
    min-height: 92px;
  }
}

.client__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;

  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 92px;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.client__icon {
  fill: currentColor;
}
