.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;

  @media screen and (max-width: 767px) {
    padding: 6px 0;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__logo span {
  color: $accent-color;
}

.header__nav-thumb {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.header__menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}