.hero {
  background-color: #2f303a;
  padding: 118px 0;
  
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x.jpg);
  }

  @media screen and (min-width: $desktop) {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-color;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: $secondary-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 24px;
  display: block;
  margin: 30px auto 0 auto;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;

  @media screen and (min-width: $desktop) {
    padding: 10px 32px;
  }

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
