.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-color;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    width: 1170px;
    min-height: 368px;
  }
}

.team__items {
  background-color: #ffffff;
  max-width: 450px;
  max-height: 622px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  
  @media screen and (max-width: $pre-tablet) {
    margin: 0 auto;

    &:not(:last-child) {
    margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    width: 354px;
    height: 536px;
  }
  
  @media screen and (min-width: $desktop) {
    width: 270px;
    min-height: 368px;
    padding-bottom: 30px;
  }
}

.team__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $mobile) and (max-width: $pre-tablet) {
    width: 450px;
    height: 460px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 260px;
  }
}

.team__desc {
  padding-top: 30px;
}

.team__user {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-color;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $tertiary-color;
  margin-bottom: 16px;
}

.team__link-list {
  width: 206px;
  margin: 0 auto;
  display: flex;

  @media screen and (min-width: $desktop) {
    padding: 0 32px;
    margin: 0;
  }
}

.team__link-item:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  background-color: $secondary-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #fff;
  }
}

.team__link-icon {
  fill: currentColor;
}
