//? COLORS
$primary-color: #212121;
$secondary-color: #ffffff;
$tertiary-color: #757575;
$quaternary-color: #eeeeee;
$accent-color: #2196f3;

//? BREACK-POINTS
$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1199px;
$desktop: 1200px;