body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  font-family: inherit;
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}